.collapsible {
    background-color: #252526;	    
    color: white;	    
    cursor: pointer;	    
    padding: 15px;	    
    width: 100%;	    
    border: none;	    
    text-align: left;	    
    outline: none;	    
    font-size: 120%;	    
    font-weight: bold;	    
    font-family: "Montserrat", sans-serif;	    
    overflow-wrap: break-word !important;
}

.colcontent {
    padding-top: 18px;
    padding-left: 18px;	
    padding-right: 18px;	       
    width: 100%;
    display: none;	    
    text-align: left;	    
    background-color: #f1f1f1;	    
    overflow-wrap: break-word;
}

.active-project {
    display: block;
  }

  .colcontent-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 20px;
  }

  .social-icon-project {
    height: 25px;
    width: 25px;
  }

  /* .tech-used-in-project {
    margin: 5px;
  } */
  
  .tech-used-in-project {
    margin: 0px 15px 15px 10px;
    background-color: #f1f1f1;
    color: #17A3EE;
    border-radius: 90px;
    border: 2px solid #17A3EE;
    padding: 8px;
    text-align: center;
    min-width: 150px;
    width: auto;
    height: 50px;
    font-weight: bold;
  }

  .tech-used-in-project:hover {
    color: white;
    background-color: #17A3EE;
  }